body{
    background-color:#E6E6E6;
}

.encabezado img{    
    margin: 20px 0;   
}
.nav-item {
    margin-right: 10px;
}
.row .pel{
    color: #000;
    
}
.py-5{
    padding-top: 30px !important;
}
.mt-5{
    margin-top: 0px !important;
}

strong, h1 {
    color: #fff;
    font-size: 48px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}

.col > button{
    text-align: right;
}



body .perf{
    background:#D8D8D8;
    padding-top: 30px;
}
body .perf h1{
    color: #000;
    margin-bottom: 30px;
   
}
.container .formulario_perfil{
    margin-top: 50px;
}
body .perf img{
    width: 250px;
    height: 300px;
    margin-left: 60px;
}
.row .btn_perfil{
float: right;
margin-bottom: 30px;
margin-left: 10px;
}
.row .btn_foto{
    margin-left: 60px;
    margin-top: 10px;
}
.container .nav{
    margin-top: 10px;
    
}
.container .pel_cart{
    margin-top: 20px;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #000;
}

.carousel-item img{
    width: 500px;
    height: 250px;
}
.nav-link{
    color: rgb(126, 16, 16);
    margin-left: 30px;
}
.nav-link:hover{
    color: rgb(126, 16, 16);
}

.imagenLogin{
    margin-left: 30px;
}






