<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css')}}">
    <link rel="icon" type="image/png" href="../static/img/ICONO.ico" />
    <title>Buscar Peliculas - Cineland Americano</title>
</head>
<body>
    <div class="container">    
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div class="container-fluid">
              <img src="../static/img/logo.png" alt="Este es el logo" width="130" height="30"></img>
              <!-- <b class="navbar-brand" href="#"> <a href="index.html">CINE AMERICANO</a></b> -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <b><a class="nav-link active" aria-current="page" href="login">Inicio de Sesión</a></b>
                  </li>
                  <li class="nav-item">
                    <b><a class="nav-link" href="registro">Registrarse</a></b>
                  </li>                
                  
                </ul>
                <form class="d-flex" name="buscar" action="" method="POST">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <a class="btn btn-outline-success" type="submit" href="/" >BUSCAR</a>
                </form>
              </div>
            </div>
        </nav>
          <div class="row pel_cart">
            <div class="col-12 col-sm-6 col-lg-3 mb-4">
              <div class="card">
                  <img class="card-img-top" src="../static/img/1.jpg" alt="">
                  <div class="card-body">
                      <h3 class="card-title">Pelicula1</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                      <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                  </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 mb-4">
              <div class="card">
                  <img class="card-img-top" src="../static/img/2.jpg" alt="">
                  <div class="card-body">
                      <h3 class="card-title">Pelicula2</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                      <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                  </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 mb-4">
              <div class="card">
                  <img class="card-img-top" src="../static/img/3.jpg" alt="">
                  <div class="card-body">
                      <h3 class="card-title">Pelicula3</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                      <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                  </div>
              </div>
            </div>   

            <div class="col-12 col-sm-6 col-lg-3 mb-4">
              <div class="card">
                  <img class="card-img-top" src="../static/img/4.jpg" alt="">
                  <div class="card-body">
                      <h3 class="card-title">Pelicula4</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                      <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                      
                  </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4">
              <div class="card">
                  <img class="card-img-top" src="../static/img/5.jpg" alt="">
                  <div class="card-body">
                      <h3 class="card-title">Pelicula5</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                      <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                      
                  </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4">
              <div class="card">
                  <img class="card-img-top" src="../static/img/6.jpg" alt="">
                  <div class="card-body">
                      <h3 class="card-title">Pelicula6</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                      <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                      
                  </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4">
              <div class="card">
                  <img class="card-img-top" src="../static/img/7.jpg" alt="">
                  <div class="card-body">
                      <h3 class="card-title">Pelicula7</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                      <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                      
                  </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4">
              <div class="card">
                  <img class="card-img-top" src="../static/img/8.jpg" alt="">
                  <div class="card-body">
                      <h3 class="card-title">Pelicula8</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                      <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                      <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                      
                  </div>
              </div>
            </div>
          </div>

    </div>
</body>
</html>