<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="icon" type="image/png" href="../static/img/ICONO.ico" />   

    <title>Cartelera - Cineland Americano</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div class="container-fluid">
              <img src="../static/img/logo.png" alt="Este es el logo" width="130" height="30"></img>
              <!-- <b class="navbar-brand" href="#"> <a href="index.html">CINE AMERICANO</a></b> -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <b><a class="nav-link active" aria-current="page" href="cartelera">Cartelera</a></b>
                  </li>
                  <li class="nav-item">
                    <b><a class="nav-link" href="perfilUser">Perfil</a></b>
                  </li>
                 
                  <li class="nav-item">
                    <b><a class="nav-link disabled" href="estrenos">Proximos Estrenos</a></b>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">BUSCAR</button>
                </form>
              </div>
            </div>
          </nav>
        <div class="row py-5">
            <div class="col">
                <div class="border-bottom">
                    <h1 class="text-center pel">Peliculas en Cartelera</h1>
                    <!-- <div class="img-cart"><img src="img/logo.png.crdownload" alt="Este es el logo" width="130" height="30"></img></div> -->
                </div>
            </div>
        </div>

        <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="../static/img/9.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">Most Dangeorus Game</h3>
                    <p class="card-text">Desesperado por cuidar a su esposa embarazada antes de que una enfermedad terminal pueda quitarle la vida, Dodge Maynard acepta una oferta para participar en un juego mortal en el que pronto descubre que no es el cazador … sino la presa.</p>
                    <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                    <a href="#" class="btn btn-sm btn-secondary">Detalle de Funcion</a>
                    <a href="#" class="btn btn-sm btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="../static/img/10.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">Contra el Fuego</h3>
                    <p class="card-text">Lo que llamamos un acto de valentía es sólo una rutina habitual para ellos. Cuando las personas en peligro parece no tener a nadie que pueda ayudarlas, los rescatistas vienen a luchar contra las despiadadas fuerzas de la naturaleza.</p>
                    <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                    <a href="#" class="btn btn-sm btn-secondary">Detalle de Funcion</a>
                    <a href="#" class="btn btn-sm btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="../static/img/11.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">Matando cabos 2</h3>
                    <p class="card-text">Posteriormente al robo de su preciosa máscara, Rubén  se verá confrontado con su pasado. Junto a su invencible guardaespaldas Tony  y, un aliado inesperado, sólo tendrá un día para recuperarlo y hacer las paces con la memoria de su padre.</p>
                    <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                    <a href="#" class="btn btn-sm btn-secondary">Detalle de Funcion</a>
                    <a href="#" class="btn btn-sm btn-primary">Comprar</a>
                </div>
            </div>
        </div>   
       

    </div>

</body>
</html>