<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css')}}">
    <link rel="icon" type="image/png" href="../static/img/icono3.ico" />
    <title>CINELAND AMERICANO</title>
    
    
</head>
<body>
    <div class="container-fluid">
        <header>           
            <div class="container-fluid">
                <div class="row encabezado">
                    
                    <img src="../static/img/logo1.jpeg" alt="" height="350"></img>
                    <ul class="nav justify-content-center">
                        
                        <li class="nav-item">
                        <a class="btn btn-warning btn-lg" href="login">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                        <a class="btn btn-danger btn-lg" href="registro">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-warning btn-lg" href="loginADM">Administrador</a>
                        </li>
                       
                    </ul>
                </div>
              
            </div>
        </header>

        <div class="row py-5">
            <div class="col">
                <div class="border-bottom">
                    <h1 class="text-center pel">PELICULAS</h1>
                </div>
            </div>
        </div>

        <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="../static/img/1.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">CULT FOLOWWING</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                    <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="../static/img/2.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">SHORTA</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                    <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="../static/img/3.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">FOREVER RICH</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                    <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                </div>
            </div>
        </div>   

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="../static/img/4.jpg" alt="">
                <div class="card-body">
                    <h3 class="card-title">SOS</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <!-- <a href="#" class="btn btn-sm btn-primary">Comprar</a> -->
                    <a href="#" class="btn btn-sm btn-secondary">Detalle de pelicula</a>
                </div>
            </div>
        </div>   
            
    </div>

    

    <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>


