<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css')}}">
    <link rel="icon" type="image/png" href="../static/img/icono3.ico" />
    <title>Cineland Americano</title>
</head>
<body>
    <p>¡Cierre de sesión exitoso!</p>
    <a class="btn btn-success" href="/">Ir al inicio</a>
</body>
</html>