<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cine Americano</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css')}}">
        <link rel="stylesheet" type="text/js" href="{{ url_for('static', filename='js/funciones.js')}}">
        <link rel="icon" type="image/png" href="../static/img/icono3.ico" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container">  
        
        <div class="card-body">
            <table id="datatablesSimple" class="table table-dark table-striped"">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Duración</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Descripción</th>  
                        <th scope="col">Accion</th>                                           
                    </tr>
                </thead>
            
                <tbody>
                    {% for v in variableCart %}
                    <tr>
                        <td>{{ v[0] }}</td>
                        <td>{{ v[1] }}</td>
                        <td>{{ v[2] }}</td>
                        <td>{{ v[3] }}</td>
                        <td>{{ v[4] }}</td>
                        <td><a href="/detPelicula/{{ v[0] }}" class="btn btn-warning" >Reservar</a>
                       
                        </td>
                        
                    </tr> 
                    {% endfor %}                                      
                </tbody>
                
            </table>
            <a href="/cartelera/" class="btn btn-danger" >Atras</a>
        </div>
        
        
    </div> 
</body>
</html>